/* 
    Document   : design
    Created on : Jul 9, 2012, 4:26:49 PM
    Author     : Jay
    Description:
    Purpose of the stylesheet follows.
*/
/*  hullo am just testing this net beans   for real  */
root { 
    display: block;
    font-weight: bold;
}
/*hullo   guys   */
